@import "tailwindcss";

*{
    font-family: "Inter",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes bar-scale {
  0%, 100% {
    transform: scaleY(0.4);
  }
  50% {
    transform: scaleY(1);
  }
}

.bar-1 {
  animation: bar-scale 1.2s ease-in-out infinite;
  animation-delay: 0s;
}

.bar-2 {
  animation: bar-scale 1.2s ease-in-out infinite;
  animation-delay: 0.1s;
}

.bar-3 {
  animation: bar-scale 1.2s ease-in-out infinite;
  animation-delay: 0.2s;
}

.bar-4 {
  animation: bar-scale 1.2s ease-in-out infinite;
  animation-delay: 0.3s;
}

.bar-5 {
  animation: bar-scale 1.2s ease-in-out infinite;
  animation-delay: 0.4s;
}
